<!-- views/partials/comment.handlebars -->

<div class="card" id="{{this.id}}">
    <div class="card-block">
        <h4 class="card-title">{{this.title}}</h4>
        <p class="card-text">{{this.content}}</p>
        <!-- Delete Link -->
    <p><button id="btn-Id-{{@index}}" class="btn btn-link deleteComment" data-comment-id={{this._id}} onclick="deleteComment('{{@index}}')">Delete</button></p>

    </form></p>
    </div>
</div>
