<!-- admin.handlebars -->

<h2>Reviews</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">_id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each reviews}}
      <tr id="{{this._id}}">
        <th scope="row">1</th>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td><a href="#" id="deleteReview-{{this._id}}" data-review-id={{this._id}}>Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
